*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;

}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}



